.main {
    margin-top: 55px;
}

/* Product Card */

.product_card {
    margin-bottom: 30px;
}

.product_card a {
    text-decoration: none;
}

.product_card .img-box {
    width: 100%;
    overflow: hidden;
}

.product_card .img-box img {
    min-width: 100%;
    min-height: 100%;
}

.product_card .card-body .product_name {
    font-weight: 900;
    font-size: 16px;
}

@media(max-width: 576px) {
    .product_card .img-box {
        height: 120px;
    }
}

@media(min-width: 576px) {
    .product_card .img-box {
        height: 145px;
    }
}

@media(min-width: 992px) {
    .product_card .img-box {
        height: 220px;
    }
}

/* End Product Card */

/* Order */

.order img {
    width: 100px;
    height: 80px;
}

/* End Order */

/* Product Show */

.product-show .carousel-inner .carousel-item {
    overflow: hidden;
    position: relative;
}

.product-show .carousel-inner .carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.384);
}

.product-show .carousel-inner .carousel-item img {
    width: 100%;
    min-height: 100%;
}

@media(max-width: 576px) {
    .product-show .carousel-inner .carousel-item {
        height: 250px;
    }
}

@media(min-width: 576px) {
    .product-show .carousel-inner .carousel-item {
        height: 400px;
    }
}

@media(min-width: 992px) {
    .product-show .carousel-inner .carousel-item {
        height: 450px;
    }
}

/* End Product Show */

/* Checkout */

/* Chrome, Safari, Edge, Opera */

.checkout input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

.checkout input[type=number] {
    -moz-appearance: textfield;
}

.checkout .custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: green;
    z-index: 99999;
}

/* Checkout */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}